In [78]:
import os, sys, math, io
import numpy as np
import pandas as pd

In [79]:
data_dir = "C:\data"

In [80]:
test_list = []
test_list.append([10, 0, np.array([0,1,0])])
test_list.append([10, 1, np.array([0,1,0])])
test_list.append([10, 2, np.array([1,0,0])])
test_list.append([14, 0, np.array([0,0,1])])
test_list.append([21, 0, np.array([0,1,0])])
test_list.append([24, 0, np.array([1,0,0])])
test_list.append([27, 0, np.array([0,1,0])])
test_list.append([29, 0, np.array([0,0,1])])
test_list.append([32, 0, np.array([0,1,0])])
test_list.append([32, 1, np.array([1,0,0])])

In [81]:
columns = ["product_id", "img_idx", "pred_cat"]
test_df = pd.DataFrame(test_list, columns=columns)

In [82]:
test_df

   product_id  img_idx   pred_cat
0          10        0  [0, 1, 0]
1          10        1  [0, 1, 0]
2          10        2  [1, 0, 0]
3          14        0  [0, 0, 1]
4          21        0  [0, 1, 0]
5          24        0  [1, 0, 0]
6          27        0  [0, 1, 0]
7          29        0  [0, 0, 1]
8          32        0  [0, 1, 0]
9          32        1  [1, 0, 0]

In [70]:
test_df.dtypes

product_id     int64
img_idx        int64
pred_cat      object
dtype: object

In [72]:
test_df["argmax_cat"] = test_df["pred_cat"].map(lambda x: np.argmax(x))

In [73]:
test_df

   product_id  img_idx   pred_cat  argmax_cat
0          10        0  [0, 1, 0]           1
1          10        1  [0, 1, 0]           1
2          10        2  [1, 0, 0]           0
3          14        0  [0, 0, 1]           2
4          21        0  [0, 1, 0]           1
5          24        0  [1, 0, 0]           0
6          27        0  [0, 1, 0]           1
7          29        0  [0, 0, 1]           2
8          32        0  [0, 1, 0]           1
9          32        1  [1, 0, 0]           0

In [76]:
np.bincount(np.array([0, 1, 1, 3, 2, 1, 7]))

array([1, 3, 1, 1, 0, 0, 0, 1], dtype=int64)

In [77]:
test_df[["product_id", "argmax_cat"]].groupby("product_id").apply(lambda df: np.argmax(np.bincount(np.array(df["argmax_cat"].values))))

product_id
10    1
14    2
21    1
24    0
27    1
29    2
32    0
dtype: int64